{% extends "AppCliente/padre.html" %}

{% load static %}

{% block contenido %}

<div class="container"></div>
    <br></br>    

        <p class="container fs-5 fw-semibold ">
            <strong>Tienda Brupi,</strong> es una empresa especializada en diseño y decoración de interiores para hogares modernos. Nuestro equipo de 
            diseñadores y decoradores trabaja con pasión para ofrecer soluciones personalizadas que combinan estilo, funcionalidad y confort.
            Nos enfocamos en cada detalle, desde la selección de mobiliario y textiles hasta la iluminación y los accesorios decorativos.
        </p>
    <h3 class="container", style="color:#000000">Nuestra Misión</h3>
        <p class="container fs-5 fw-semibold">
            Transformar espacios cotidianos en ambientes únicos, funcionales y estéticamente armoniosos, reflejando la personalidad y estilo de cada cliente.
        </p>
    <h3 class="container", style="color:#000000">Nuestra Visión</h3>
        <p class="container fs-5 fw-semibold">
            Ser referente en el mercado de decoración del hogar por nuestra creatividad, calidad y atención personalizada, creando hogares que inspiren bienestar y belleza.
        </p>
    <h3 class="container", style="color:#000000">Nuestro Diferencial</h3>
        <p class="container fs-5 fw-semibold">
           Fusionamos tendencias contemporáneas con el estilo propio de cada cliente, creando espacios que no solo se ven bien, sino que se sienten bien. Ya sea que busques renovar tu sala, transformar tu dormitorio o dar vida a tu cocina, Ambienta Deco convierte tus ideas en realidad.

        </p>
    

</div>


{% endblock %}